
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="/js/lib/dummy.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
	<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
	<script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
  <style type="text/css">
    #map {
  width: 100%;
  height: 500px;
  background-color: grey;
}

  </style>

  <title>Fuse TP3 Demo</title>

  

<script type='text/javascript'>//<![CDATA[

var locations;
var map;

function initMap() {

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: {
      lat: 51.4565624,
      lng: -0.1925085
    },
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  //loadEndpoints();

}


function loadEndpoints(result) {


  var infowindow = new google.maps.InfoWindow({});

  var marker, i;

  for (i = 0; i < result.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(result[i].lat, result[i].lng),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(result[i].address);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }

}


function loadATMs() {

  var currentlat = map.center.lat();
  var currentlng = map.center.lng();
  var result = JSON.parse('[{ "address":"73 Wandsworth High Street, Wandsworth", "lat":51.4565624, "lng":-0.1925085},{"address":"21 Kings Mall, King Street, Hammersmith", "lat":51.492896, "lng":-0.2290796}]');

  loadEndpoints(result);
}

//]]> 

</script>

  
</head>

<body>
  Fuse Online Scenario Two - API and Open Banking
<br/>
<br/>
<div id="inputdiv">

  My Fuse Integration Endpoint:
  <input type="mysource" id="myFuseEndpoint" />
  <br/>
  <br/>
  <button onclick="loadATMs()">Refresh</button>
</div>
<br/>
<br/>

<br/>
<br/>
<div id="map"></div>
<div id="database">
<h2>Request information</h2>
<p>Page view count:
	<span class="code" id="atmresults">
		<%=atmresults%>
		<BR/>
		NEXT....up
		<BR/>
		<%=atmresults[0].lat%>
	</span>
</p>
                    
                
</div>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7HlUiOSju2W3n5ysuKPS6UuWqQIRC7hU&callback=initMap" async defer></script>

  
  <script>
  // tell the embed parent frame the height of the content
  if (window.parent && window.parent.parent){
    window.parent.parent.postMessage(["resultsFrame", {
      height: document.body.getBoundingClientRect().height,
      slug: "2jp15ztc"
    }], "*")
  }
</script>

</body>

</html>




